/* frontend/src/styles/variables.css */

/* Variáveis de cor e tema SENAI-Saúde */

:root {
  --color-primary: #004D9D;        /* Azul padrão SENAI */
  --color-primary-dark: #01376d;
  --color-secondary: #0070c7;
  --color-success: #44b170;
  --color-error: #da2e32;
  --color-background: #f5f7fa;     /* Cinza claro */
  --color-card: #fff;
  --color-border: #e0e6ef;
  --color-text: #253857;
  --color-button-text: #fff;
  --color-alert-bg: #e3f2fd;
  --color-alert-text: #004D9D;
}
